body{
    background-color: #4cb84c;
    text-align: center;
}

    div{
        border: 7px solid;
        border-color: black;
        background-color: blue;
    }

    h1{
        border: 7px dashed;
    }
    
    img{
        border-radius: 20px;
        border: 7px dashed;
    }

.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-image: linear-gradient(to bottom, #337b33, #4cb84c);
        }

        .navbar li {
            float: left;
        }

        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar li a:hover {
            background-color: red;
        }
