body{
    background-color: #4cb84c;
    text-align: center;
}

    div{
        border: 7px solid;
        border-color: black;
        background-color: blue;
    }

    h1{
        border: 7px dashed;
    }
    
    img{
        border-radius: 20px;
        border: 7px dashed;
    }
